* {
	padding: 0;
	margin: 0;
}

/*body*/
body {
	margin-top: 100px;
	margin-bottom: 100px;
}

table {
	width: 100%;
	/*border-spacing: 0;*/
	/*margin-top: 100px;*/
}

table tr td[onclick] {
	cursor: pointer;
}

table .img {
	width: 100px; 
	/*height: 100%;*/
	padding: 0;
	margin: 0;
}

table img {
	width: 100%;
}

table tr.head {
	background: #ABB2B9;
}

table tr {
	background: #D5D8DC;
	/*margin-top: 3px;*/
}

table td {
	padding: 5px;
}

table td:nth-child(1) {
    width: 200px;
}

table td:nth-child(2) {
    width: 100px;
}

table td:nth-child(3) {
    /*width: 50%;*/
}

table td:nth-child(4) {
    width: 200px;
}

table td:nth-child(5) {
    width: 100px;
}

table td:nth-child(6) {
    width: 100px;
}

table td:nth-child(7) {
    width: 100px;
}

.empty_cart {
	width: 500px;
	height: 200px;
	font-size: 50px;
	line-height: 200px;
	text-align: center;
	background: #696969;
	position: relative;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
}

form {
	width: 50%;
	position: relative;
}

input[type=radio] {
	display: none;
}

#reciever_0:checked ~ table .reciever_0 {
	background: #ABB2B9;
}

#reciever_1:checked ~ table .reciever_1 {
	background: #ABB2B9;
}

.reciever_info {
	display: none;
}

form input[value="1"]:checked ~ .reciever_info {
	display: flex;
}

form label {
	/*width: 100%;*/
	cursor: pointer;
}

form button {
	width: 100px;
	height: 50px;
	background: #ABEBC6;
	font-size: 25px;
	font-weight: bold;
	position: relative; 
	top: -50px;
	right: -180%;
}