.customers__menu{
    padding: 3.5rem;
    display:flex;
    justify-content: space-between;
}

.customers__search{
    padding: 0 4rem 0 1rem;
    font-size: 1.5rem;
    outline-offset: .3rem;
    outline-color: var(--primary-color);
    position: relative;
    border-radius: .5rem;
    line-height: 4rem;
}

.customers__search-icon{
    position: absolute;
    padding:1.5rem;
    top:0;
    right:4rem;
}

.customers__product-table{
    width: 100%;
    padding: 0 3.5rem 3.5rem;
}

.customers__table{
    border-collapse: collapse;
    width:100%;
    font-size: 1.5rem;
    line-height: 4rem;
}

.customers__table thead {
    background-color: var(--sub-color);
    text-align: left;
    margin: 2rem;
}

.customers__table th,
.customers__table td{
    padding: 1rem;
}

.customers__table td{
    background-color: #ccc;
}

.customers__table tr{
        border-bottom: 1.5rem solid var(--background);
        transition: all 0.3s ease;
        z-index: 2;
        position: relative;
}

.customers__table thead tr{
    opacity: 1;
}

.customers__table tbody tr:hover {
    opacity: 1!important;
    z-index: 2;
    position: relative;
}

.float-z{
    position:unset !important;
    opacity: 0.7 !important;
}

.actions div{
    margin: 2rem 0;
    text-align: center;
}

.confirm{
    display: block!important; 
    margin: 2rem 0;
    text-align: center;
    border:none;
    width: 10rem;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 1rem 0;
    cursor: pointer;
}

.actions a{
    display: block;
    width: 10rem;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
}

.insert{
    padding: 3.5rem;
}

.insert__title{
    color:var(--primary-color);
    font-size: 2.4rem;
    margin-bottom: 5rem;
}

.form{
    font-size: 1.6rem;
    line-height: 2rem;
}

.form div{
    padding: .5rem;
}

input,textarea{
    padding: 1rem;
}

.form button{
    margin-top: 1rem;
    padding: 1rem 6rem;
    background-color: var(--primary-color);
    color:#fff;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    opacity: .8;
}

.form button:hover{
    opacity:1;
}

a.back{
    margin-top: 4rem;
    display: block;
    text-decoration: none;
    color: var(--dark-color);
    font-size: 3rem;
    line-height: 5rem;
}

a.back:hover{
    color:var(--primary-color)
}

.err{
    font-size: 1.6rem;
    color: red;
    margin-bottom: .5rem;
}