.container{
    display:flex;
    justify-content: center;
}
.profiles{
    margin-top: 2rem;
    width: 80rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 2rem;
}

.profiles__main-title{
    text-align: center;
    color:var(--primary-color);
    font-size: 3rem;
    margin-bottom: 3rem;
}

.profiles__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: var(--sub-color);
}

.profiles__title a{
    text-decoration: none;
    color: var(--blue-pastel);
}

.profiles__title a:hover{
    color:blue;
}

.profiles__content{
    margin-bottom: 3rem;
    text-align: center;
}

.profiles__password{
    display: flex;
    justify-content: flex-end;
}

.insert{
    padding: 3.5rem;
}

.insert__title{
    color:var(--primary-color);
    font-size: 2.4rem;
    margin-bottom: 5rem;
}

.form{
    font-size: 1.6rem;
    line-height: 2rem;
}

.form div{
    padding: .5rem;
}

input,textarea{
    padding: 1rem;
}

.form button{
    margin-top: 1rem;
    padding: 1rem 6rem;
    background-color: var(--primary-color);
    color:#fff;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    opacity: .8;
}

.form button:hover{
    opacity:1;
}

a.back{
    margin-top: 4rem;
    display: block;
    text-decoration: none;
    color: var(--dark-color);
    font-size: 3rem;
    line-height: 5rem;
}

a.back:hover{
    color:var(--primary-color)
}

.err{
    font-size: 1.6rem;
    color: red;
    margin-bottom: .5rem;
}