* {
	padding: 0;
	margin: 0;
}

/*body*/
body {
	margin-top: 100px;
}

table {
}

.empty_cart {
	width: 500px;
	height: 200px;
	font-size: 50px;
	line-height: 200px;
	text-align: center;
	background: #696969;
	position: relative;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
}