
/*footer start*/
#footer {
	width: 100%;
	height: 200px;
	background: grey;
	position: relative;
	bottom: 0;
}

#footer .title {
	font-weight: bold;
}

#footer .content {
	padding-top: 10px;
}

#footer > div:not(:last-child) {
	width: 33%;
	height: 180px;
	padding: 50px 30px;
	position: relative;
	float: left;
}

#footer .contact .social .icon {
	font-size: 25px;
	padding-right: 10px;
}

#footer #copy-right {
	font-size: 12px;
	color: #ccc;
	position: relative;
	float: left;
	bottom: 0;
	left: 25px;
}
/*footer end*/