* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*common*/
#error {
	color: red !important;
}

/*slider start*/
#slider {
	margin: 46px 174px 20px;
	overflow: auto;
}

#slider .slides {
	width: 1000px;
	margin: 25px auto 0;
}

#slider .slides .slide img {
	width: 100%;
	border-radius: 10px;
}

#slider .radio {
	position: absolute;
	margin-left: 50px;
}

#slider .radio .radio-btn {
	width: 8px;
	height: 8px;
	border: 2px solid brown;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}

#slider .radio .radio-btn:hover {
	cursor: pointer;
}

#slider .radio .radio-btn:first-child {
	background: brown;
}
/*slider end*/

#items {
	width: 950px;
	font-family: 'Readex Pro', sans-serif;
	position: relative;
	margin: 50px auto;
	overflow: auto;
}


/*item start*/
.item {
	width: 270px;
	height: 350px;
	border-radius: 30px;
	box-shadow: 0 0 5px;
	display: inline-block;
	position: relative;		
	margin: 20px;
}

.item:hover {
	box-shadow: 0 0 10px;
}

.item img {
	width: 200px;
	float: left;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: 1s;
}

.item:hover img {
	top: 0;
	transform: translateX(-50%);
}

.item .item-body {
	position: absolute;
	bottom: -20px;
	margin: 10px 10px;
	/*opacity: 0;*/
	transition: 1s;
}

.item:hover .item-body {
	bottom: 30px;
	/*opacity: 1;*/
}

.item .item-body input {
	display: none;
}

.item .item-body .item-name {
	font-size: 20px;
	font-weight: bold;
}

.item .item-body .radio-box {
	border-radius: 50px;
	background: #CACFD2;
	display: inline-block;
	margin: 5px 0;
	overflow: hidden;
	opacity: 0;
	transition: 1s;
}

.item:hover .item-body .radio-box {
	opacity: 1;
}


.item .item-body .radio-box div {
	height: 30px;
	float: left;
	display: inline-block;
	padding: 5px;
}

.item .item-body .radio-box div {
	border-right: 1px solid white;
}

.item .item-body .radio-box input:checked + div {
	background: #95A5A6;
	font-weight: bold;
}

.item .btn {
	position: absolute;
	bottom: 0px;
	right: 20px;
	margin: 10px 20px;
	opacity: 0;
	transition: 1s;
}

.item:hover .btn {
	bottom: 0;
	opacity: 1;
}

.item .btn button {
	background: #CCD1D1;
	padding: 3px;
}

.item .btn button:active {
	background: #34495E;
}
/*item end*/

