* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*common*/
#error {
	color: red !important;
}

input {
	display: none;
}

/*slider start*/
#slider {
	width: 1000px;
	height: 500px;
	position: relative;
	margin: 70px auto 20px auto;
	overflow: hidden;
}

#slider .slides {
	width: 1000px;
	display: flex;
	margin-left: 0%;
	transition: 2s;
}

#slider .slides .slide img {
	width: 1000px;
	height: 500px;
	border-radius: 10px;
}

#slider .radio-box {
	position: absolute;
	top: 470px;
	left: 30px;
	z-index: 1;
}

#slider .radio-box .radio-btn {
	width: 8px;
	height: 8px;
	border: 2px solid black;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}

#slider .radio-box .radio-btn:hover {
	cursor: pointer;
}

#slider .radio-box input:checked + label {
	background: black;
}

#slider .radio-box #radio-btn-1:checked {

}
/*slider end*/

#items {
	width: 1000px;
	font-family: 'Readex Pro', sans-serif;
	position: relative;
	margin: 50px auto;
	overflow: auto;
}


/*item start*/
.item {
	width: 290px;
	height: 350px;
	color: black !important;
	border-radius: 30px;
	box-shadow: 0 0 5px;
	display: inline-block;
	position: relative;		
	margin: 20px;
	overflow: hidden;
}

.item:hover {
	box-shadow: 0 0 10px;
}

.item img {
	width: 200px;
	float: left;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: 1s;
}

.item:hover img {
	top: 0;
	transform: translateX(-50%);
}

.item .item-body {
	position: absolute;
	top: 200px;
	margin: 10px 10px;
	/*opacity: 0;*/
	transition: 1s;
}

.item:hover .item-body {
	top: 150px;
	/*opacity: 1;*/
}

.item .item-body .item-name {
	font-size: 20px;
	font-weight: bold;
	/*margin-bottom: 25px;*/
}

/*.item .item-body .item-price {
	display: none;
	float: left;
	position: relative;
	top: -60px;
}*/

/*.item .item-body input:checked.price-s + span.price-s {
	display: block;
}*/

.item .item-body .radio-box {
	border-radius: 50px;
	background: #CACFD2;
	display: inline-block;
	margin: 2px 0;
	overflow: hidden;
	opacity: 0;
	transition: 1s;
}

.item:hover .item-body .radio-box {
	opacity: 1;
}


.item .item-body .radio-box div {
	height: 30px;
	float: left;
	display: inline-block;
	padding: 5px;
}

.item .item-body .radio-box div {
	border-right: 1px solid white;
}

.item .item-body .radio-box input:checked + div {
	background: #95A5A6;
	font-weight: bold;
}

.item .item-body .radio-box input:disabled + div {
	color: #95A5A6;
}

.item .btn {
	position: absolute;
	bottom: -30px;
	right: 20px;
	margin: 10px 20px;
	opacity: 0;
	transition: 1s;
}

.item:hover .btn {
	bottom: 0;
	opacity: 1;
}

.item .btn label {
	background: #CCD1D1;
	padding: 3px;
	margin-right: 1px;
}

/*item end*/
/*page start*/
#pages {
	width: 100px;
	position: relative;
	left: 250px;
}
/*pages end*/