@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');

* {
	font-family: 'Readex Pro', sans-serif;
	padding: 0;
	margin: 0;
	overflow: visible;
}
/*body*/
body {
	margin-top: 46px;
}

table {
	width: 100%;
	/*border-spacing: 0;*/
	margin-top: 100px;
}

table tr td[onclick] {
	cursor: pointer;
}

table tr:first-child {
	background: #ABB2B9;
}

table tr {
	background: #D5D8DC;
	/*margin-top: 3px;*/
}

table td {
	padding: 5px;
}

table td:nth-child(1) {
    width: 30px;
}

table td:nth-child(2) {
    width: 200px;
}

table td:nth-child(3) {
    /*width: 50%;*/
}

table td:nth-child(4) {
    width: 350px;
}

table td:nth-child(5) {
    width: 30px;
}

table td:nth-child(6) {
    width: 200px;
}
}

.empty_log {
	width: 500px;
	height: 200px;
	font-size: 50px;
	line-height: 200px;
	text-align: center;
	background: #696969;
	position: relative;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
}