* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*body*/
body {
	margin-top: 100px;
	/*margin-bottom: 100px;*/
}

table {
	width: 100%;
	/*border-spacing: 0;*/
	/*margin-top: 100px;*/
}

table tr td[onclick] {
	cursor: pointer;
}

table .item_img {
	width: 100px; 
	/*height: 100%;*/
	padding: 0;
	margin: 0;
}

table img {
	width: 100%;
}

table tr.head {
	background: #ABB2B9;
}

table tr {
	background: #D5D8DC;
	/*margin-top: 3px;*/
}

table td {
	padding: 5px;
}

table td:nth-child(1) {
    width: 200px;
}

table td:nth-child(2) {
    width: 100px;
}

table td:nth-child(3) {
    /*width: 50%;*/
}

table td:nth-child(4) {
    width: 200px;
}

table td:nth-child(5) {
    width: 100px;
}

table td:nth-child(6) {
    width: 100px;
}

table td:nth-child(7) {
    width: 100px;
}

.trash_icon {
	color: red;
}

.empty_cart {
	width: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

form {
	width: 50%;
	position: relative;
	margin: 20px;
}

input[type=radio] {
	display: none;
}

.reciever_0 ,
.reciever_1 {
	background: #EBEDEF;
	border: 1px solid #D5D8DC;
	border-radius: 10px;
	padding: 5px;
}

#reciever_0:checked ~ .reciever_0 {
	background: #ABB2B9;
}

#reciever_1:checked ~ .reciever_1 {
	background: #ABB2B9;
}

.reciever_info {
	display: none;
}

form input[value="1"]:checked ~ .reciever_info {
	display: flex;
}

form label {
	/*width: 100%;*/
	cursor: pointer;
}

form button {
	width: 200px;
	height: 100px;
	background: #ABEBC6;
	font-size: 50px;
	font-weight: bold;
	position: absolute; 
	top: 50px;
	right: -80%;
}