@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#footer {
	width: 100%;
	height: 200px;
	font-family: 'Montserrat', sans-serif;
	background: grey;
	position: relative;
	bottom: 0;
}

/*common*/
#footer a {
	color: black;
	text-decoration: none;
}

#footer .title {
	font-weight: bold;
}

#footer .content {
	line-height: 25px;
	padding-top: 10px;
}

#footer > div:not(:last-child) {
	width: 33%;
	height: 180px;
	padding: 50px 30px;
	position: relative;
	float: left;
}

#footer .contact .social .icon {
	font-size: 25px;
	padding-right: 10px;
}

#footer #copy-right {
	font-size: 12px;
	color: #ccc;
	position: relative;
	float: left;
	bottom: 0;
	left: 25px;
}