@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#header {
	width: 100%;
	height: 46px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background: #2d1902;
	position: fixed;
	top: 0;
	z-index: 9;
}

/*common*/
#header a {
	text-decoration: none;
	color: white;
}

.sub-menu {
	background: white;
	box-shadow: 0 0 3px black;
	/*overflow: visible;*/	
}

.sub-menu a {
	color: black !important;
	display: block;
}

/*header start*/
#logo {
	display: inline-block;
	margin-left: 50px;
}

#logo img{
	width: 46px;
	height: 46px;
}

#logo .shop_name {
	line-height: 46px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	float: right;
	/*margin: 0 0 0 0px;*/
	cursor: pointer;
}

#header .nav {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 270px;
}

#header .nav > a ,
#header .nav > button {
	width: 100px;
	height: 46px;
	line-height: 46px;
	text-decoration: none;
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	display: inline-block;
	background: none;
	border: none;
	margin-right: 10px;
	cursor: pointer;
}

#header .nav > div {
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	display: inline-block;
	margin-right: 10px;
}

#header .login-register {
	/*width: 46px;*/
	height: 46px;
	text-align: center;
	line-height: 46px;
	position: absolute;
	top: 0;
	right: 300px;
}

#header .login-register > a {
	color: white;
}

#header .login-register a.login-btn {
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
}

#header .login-register .name {
	float: left;
	margin-left: 15px;
}

#header .login-register .avatar {
	width: 42px;
	height: 42px;
	background: white;
	border-radius: 50%;
	outline: 1px solid white;
	display: inline-block;
	float: left;
	margin-top: 2px;
	overflow: hidden;
}

#header .login-register img {
	width: 42px;
	height: 42px;
}

#header .category .sub-menu ,
#header .login-register .sub-menu {
	width: 160px;
	position: absolute;
	top: 46px;
	line-height: 46px;
	display: none;
}

#header .category:hover .sub-menu ,
#header .login-register:hover .sub-menu {
	display: block;
}

#header .cart {
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 190px;
}

#header .cart .cart-icon {
	font-size: 20px;
}

#header .cart .cart-quantity {
	width: 17px;
	height: 17px;
	font-size: 10px;
	line-height: 17px;
	background: red;
	border-radius: 50%;
	position: absolute;
	top: 22px;
	right: 10px;
	/*padding: 5px;*/
}

#header .search {
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}

#header .search .search-icon {
	font-size: 20px;
}

#header .search input {
	height: 100%;
	color: white;
	background: #54290C;
	border: none;
	outline: none;
	position: absolute;
	transform: translateX(50px);
	display: block;
	padding: 10px;
	transition: 1s;
}

#header .search:hover input ,
#header .search input:focus {
	transform: translateX(-130px);
	/*display: block;*/
}