#slider {
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    margin: 70px auto 20px auto;
    overflow: hidden;
}

#slider .slides {
    width: 1000px;
    display: flex;
    margin-left: 0%;
    transition: 1s;
}

#slider .slides .slide img {
    width: 1000px;
    height: 500px;
}

#slider .radio-box {
    position: absolute;
    top: 470px;
    left: 30px;
    z-index: 1;
}

#slider .radio-box .radio-btn {
    width: 10px;
    height: 10px;
    border: 2px solid #2d1902;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

#slider .radio-box .radio-btn:hover {
    cursor: pointer;
}


/*
#slider .radio-box input:checked + label {
	background: #2d1902;
}*/

#slider #radio-btn-1:checked~.slides {
    margin-left: -0%;
}

#slider #radio-btn-2:checked~.slides {
    margin-left: -100%;
}

#slider #radio-btn-3:checked~.slides {
    margin-left: -200%;
}

#slider #radio-btn-1:checked~.radio-box .radio-btn-1 {
    background: #2d1902;
}

#slider #radio-btn-2:checked~.radio-box .radio-btn-2 {
    background: #2d1902;
}

#slider #radio-btn-3:checked~.radio-box .radio-btn-3 {
    background: #2d1902;
}